.terraform/
.terraformold/
terraform.tfstate.backup
terraform.tfstate
terraform.tfvars
.terraform.tfstate.lock.info
*.pem
*kube_config*
kubeconfig*
*_values.yaml
terraform/terraform.tfvars
nohup.out
ambassador-qotm/.DS_Store
ambassador-qotm/notes
.DS_Store
